.container
    .columns
      .column.is-3
        .menu.is-hidden-mobile
          block sidebar
          //- include sidebar.pug
      .column.is-9
        block content
      //- include content.pug