.container
  .columns
    .column.is-half
      .field
        label.label(for="") Team
        .control
          input.input#edit_team(type="text" placeholder="Team")

  .columns
    .column.is-one-fifth
      .field
        label.label(for="") Pld
        .control
          input.input#edit_pld(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") W
        .control
          input.input#edit_w(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") D
        .control
          input.input#edit_d(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") L
        .control
          input.input#edit_l(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") GF
        .control
          input.input#edit_gf(type="text" placeholder="Team")
  .columns
    .column.is-one-fifth
      .field
        label.label(for="") GA
        .control
          input.input#edit_ga(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") GD
        .control
          input.input#edit_gd(type="text" placeholder="Team")
    .column.is-one-fifth
      .field
        label.label(for="") Pts
        .control
          input.input#edit_pts(type="text" placeholder="Team")
  .columns
    .column.is-full
      .field
        label.label(for="") Qualification or relegation
        .control
          textarea.textarea#edit_qual_or_rel(placeholder="test textarea" rows="10")

  .columns
    .column.is-full
      .buttons
        button.button.is-rounded.is-info#save_edit Save
        button.button.is-rounded.is-light#cancel_edit Cancel