extends pug_inc/layout/layout-bulma.pug
include pug_inc/mixins.pug

block title
  title test_edit

block append content
  +breadcrumb(['components','crud_test','edit'])

  h3.subtitle.is-3 test_edit
  include pug_inc/forms/form_test_edit.pug

block script
  script(src="js/test_edit.js")
