
mixin navbar(active)
  - var nav_list = {Home: '0', Orders: '0', Payments: '0', Exceptions: '0', Bulma:'0', debug_crud:'0', test_page: '0'}

  nav.navbar.is-white
    .container
      .navbar-brand
        a.navbar-item.brand-text(href="#") Bulma Admin
        include troubleshoot.pug

      #navMenu.navbar-menu
        .navbar-start
          each link, content in nav_list
            - var classes = ['js-Pjax']

            if active == content
              - classes.push('is-active')

            if link == '0'
              a.navbar-item(class=classes href= content+'.html') #{content}
            else
              a.navbar-item(class=classes href= link) #{content}


      include navbar_end.pug