section.info-tiles
  .tile.is-ancestor.has-text-centered
    .tile.is-parent
      article.tile.is-child.box
        p.title 439k
        p.subtitle Users
    .tile.is-parent
      article.tile.is-child.box
        p.title 59k
        p.subtitle Products
    .tile.is-parent
      article.tile.is-child.box
        p.title 3.4k
        p.subtitle open Orders
    .tile.is-parent
      article.tile.is-child.box
        p.title 19
        p.subtitle Exceptions