<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", href="https://www.gstatic.com/firebasejs/ui/4.2.0/firebase-ui-auth.css")
        script(src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/7.2.1/firebase-auth.js")
        script(src="https://www.gstatic.com/firebasejs/ui/4.2.0/firebase-ui-auth.js")

        script(src="js/firebase_auth/config.js")
        script(src="js/firebase_auth/common.js")
        script(src="js/firebase_auth/app.js")

    body
        button(id="sign-in-with-popup") sign-in-with-popup
        button(id="sign-out") sign-out
        button(id="delete-account") delete-account
