.card.events-card
    header.card-header
        p.card-header-title Events
        a.card-header-icon(href="#" aria-label="more options")
            span.icon.
                <i class="fa fa-angle-down" aria-hidden="true"></i>
    .card-table
        .content
            table.table.is-fullwidth.is-striped.
                <tbody>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="fa fa-bell-o"></i></td>
                        <td>Lorum ipsum dolem aire</td>
                        <td><a class="button is-small is-primary" href="#">Action</a></td>
                    </tr>
                </tbody>
    footer.card-footer
        a(href="#").card-footer-item View All