.card
    header.card-header
        p.card-header-title Inventory Search
        a.card-header-icon(href="#" aria-label="more options").
          <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
    .card-content
      .content
        .control.has-icons-left.has-icons-right
          input.input.is-large(type="text" placeholder="")
          .
            <span class="icon is-medium is-left">
              <i class="fa fa-search"></i>
            </span>
            <span class="icon is-medium is-right">
              <i class="fa fa-check"></i>
            </span>