//- include components/breadcrumb.pug

block breadcrumb

include hero/index.pug
include tiles/index.pug
.columns
    .column.is-6
        include components/events.pug
    .column.is-6
        include components/inventory_search.pug
        include components/user_search.pug